<section class="slice slice-lg sct-color-1">
  	<div class="container">
    	<div class="row">
      		<div class="col-md-5 col-md-offset-3">
        		<div class="form-header text-left">
          			<h5 class="form-header-title">管理者画面</h5>
        		</div>
      		</div>
    	</div>
	</div>
</section>