<div class="sidebar col-xs-2">
  <section class="genre-search" style="text-align: center;">
    <div class="panel panel-default">
      <div class="panel-heading">
        ジャンル検索
      </div>
      <% genres.each do |genre| %>
        <div class="panel-body">
          <%= link_to genre.name, items_path(genre_id: genre.id), class:"btn btn-default btn-block", style:"border: none;" %>
        </div>
      <% end %>
    </div>
  </section>
</div>