<section class="slice slice-lg sct-color-1">
  	<div class="container">
    	<div class="row">
      		<div class="col-xs-10 col-xs-offset-1">
      			<div class="row body-header text-center">
          			<h1 class="body-header-title">About</h1>
          		</div>
        		<div class="row body-text text-center">
        			<h5>ながのCakeは全国発送可能なケーキ屋さんです。<br>
        					お子様からお年寄りの方までお召し上がりいただけるよう、<br>
        					様々なバリエーションをご用意しております。<br>
        					また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>ぜひご注文ください。</h5>
        		</div>
        		<div class="thumbnail">
        		</div>
      		</div>
    	</div>
	</div>
</section>